<ion-header>
  <ion-navbar>
    <ion-title>Storage List</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="handleStorageCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let storage of storageList" (click)="handleStorageSelect(storage)"
      (long-press)="handleStorageActionSheet(storage)">
      {{ storage.attributes.name }}
      <ion-badge item-end>
        {{ storage.attributes.code }}
      </ion-badge>
    </button>
  </ion-list>
</ion-content>