<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Inventory Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button [routerLink]="['storages']">
      <ion-icon name="archive" slot="start"></ion-icon>
      <ion-label>
        <h1>Storages</h1>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="['measure-units']">
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>
        <h1>Measure Units</h1>
      </ion-label>
    </ion-item>

    <ion-item button [routerLink]="['items']">
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>
        <h1>Items</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>