<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSignUp(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text"
                   name="name"
                   ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="text"
                   name="email"
                   required
                   ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"
                   name="password"
                   [minlength]="5"
                   required
                   ngModel></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit" class="submit-button" [disabled]="!f.valid" ion-button block outline>
      Register
    </button>
  </form>

  <div class="login-link">
    <span>Already have an account?</span>
    <a (click)="onNavigateBack()">Sign in</a>
  </div>
</ion-content>
