<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/modules/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="handleSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input ngModel required type="password" name="password" [minlength]="5"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">New Password Confirmation</ion-label>
        <ion-input ngModel required type="password" name="passwordConfirmation" [minlength]="5"></ion-input>
      </ion-item>
    </ion-list>

    <br>

    <ion-button type="submit" expand="block" fill="outline" size="large" [disabled]="!f.valid">
      <span>Submit</span>
    </ion-button>
  </form>
</ion-content>