<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/modules/inventory"></ion-back-button>
    </ion-buttons>

    <ion-title>Items</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['create']">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngIf="itemList.length < 1">
      <ion-item *ngFor="let _ of [].constructor(5)">
        <ion-label>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-label>

        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="end"></ion-skeleton-text>
      </ion-item>
    </div>

    <ion-item-sliding *ngFor="let item of itemList">
      <ion-item (click)="handleUpdateClick(item)">
        <ion-label>
          <h1>{{ item.attributes.name }}</h1>
        </ion-label>

        <div slot="end">
          <ion-badge>
            {{ item.attributes.code }}
          </ion-badge>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="handleActionSheetClick(item)">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>