<ion-header>
  <ion-navbar>
    <ion-title>{{mode}} Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Code</ion-label>
        <ion-input type="text" formControlName="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Input Measure Unit</ion-label>
        <ion-select formControlName="input_measure_unit">
          <ion-option *ngFor="let input of measureUnitList" [value]="input.id">
            {{input.attributes.name}} ({{input.attributes.acronym}})
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Input Quantity</ion-label>
        <ion-input type="number" formControlName="input_quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Output Measure Unit</ion-label>
        <ion-select formControlName="output_measure_unit">
          <ion-option *ngFor="let input of measureUnitList" [value]="input.id">
            {{input.attributes.name}} ({{input.attributes.acronym}})
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Output Quantity</ion-label>
        <ion-input type="number" formControlName="output_quantity"></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit" [disabled]="!itemForm.valid" ion-button icon-left block>
      <ion-icon name="check"></ion-icon>
      Submit
    </button>
  </form>
</ion-content>
