<ion-header>
  <ion-navbar>
    <ion-title>Account Resume</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onEntryCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item>
      <ion-label>Account</ion-label>
      <ion-select interface="popover" (ionChange)="onAccountSelect($event)">
        <ion-option *ngFor="let account of accountList" [value]="account.attributes.id">
          {{ account.attributes.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <button ion-item 
            *ngFor="let entry of entryList"
            (click)="onEntrySelect(entry)">
      <ion-badge class="entry-category" item-start>
        {{ entry.attributes.category.name }}
      </ion-badge>
      <h2>{{ entry.attributes.description }}</h2>
      <h3>{{ entry.attributes.paymentType.name }}</h3>
      <h1 [ngClass]="getEntryClass(entry.attributes)" item-end>
        {{ getEntryValue(entry.attributes) }}
      </h1>
    </button>
  </ion-list>
</ion-content>
