<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/modules/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Account Resume</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="handleDepositClick()">
        <ion-icon slot="icon-only" name="bag-add-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="handleWithdrawClick()">
        <ion-icon slot="icon-only" name="bag-remove-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Select Account</ion-label>
      <ion-select [value]="selectedAccountId" (ionChange)="handleSelectAccountClick($event)">
        <ion-select-option *ngFor="let account of accountList" [value]="account.attributes.id">
          {{ account.attributes.name }} ({{ account.attributes.code }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let entry of entryList" (click)="handleDetailClick(entry)">
      <ion-badge class="entry-category" slot="start">
        {{ entry.attributes.category.name || 'N/A' }}
      </ion-badge>

      <ion-label>
        <h2>{{ entry.attributes.description || '-' }}</h2>
        <h3>{{ entry.attributes.paymentType.name }}</h3>
      </ion-label>

      <h1 [ngClass]="getEntryClass(entry.attributes)" slot="end">
        {{ getEntryValue(entry.attributes) }}
      </h1>
    </ion-item>
  </ion-list>
</ion-content>